<!DOCTYPE html>
<html lang="en">
  <body>
    <form ____="post" action="____">
      <label for="temperature">Degrees Fahrenheit:</label>
      <input type="text" name="___">
      <input type="submit">
    </form>
  </body>
</html>